@import "tailwindcss";

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  --bg-color: rgb(16, 16, 16);
  background-color: var(--bg-color);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@theme {
  --color-gray: rgba(45, 45, 45, 0.7);
  --color-dark-gray: rgb(24 24 24);
  --color-white-500: rgba(163, 163, 163);
  --color-white: rgba(255, 255, 255, 0.87);
}

input {
  padding: 4px;
  border-radius: 4px;
  background-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: 'Manrope Variable', sans-serif;
}

.calculator_container {
  @apply flex flex-col mx-auto gap-6;
  @apply p-4 md:p-6 rounded-2xl w-full min-w-[300px] max-w-[500px];
  @apply border border-transparent md:border-gray;
  @apply md:shadow-lg md:shadow-black/20;
  @apply md:bg-dark-gray;
}