@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(16, 16, 16);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-gray: rgba(38, 38, 38, 0.7);
  --color-dark-gray: rgba(22, 22, 22);
  --color-white-500: rgba(163, 163, 163);
  --color-white: rgba(255, 255, 255, 0.87);
}

input {
  padding: 4px;
  border-radius: 4px;
  background-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: 'Manrope Variable', sans-serif;
}

.calculator_container {
  @apply flex flex-col mx-auto gap-6;
  @apply p-4 md:p-6 rounded-2xl w-full min-w-[300px] max-w-[500px];
  @apply border border-transparent md:border-gray;
  @apply md:shadow-lg md:shadow-black/20;
  @apply md:bg-dark-gray;
}

.reset_btn {
  @apply hover:cursor-pointer hover:text-white transition;
  @apply disabled:cursor-default disabled:text-white-500/30;
  @apply rounded-sm text-white-500;
}

.select {
  @apply border border-gray px-4 py-2 font-semibold *:font-semibold;
  @apply bg-dark-gray;
  @apply *:text-emerald-600 text-emerald-600;
}

.option {
  @apply checked:bg-emerald-400/10;
  @apply text-sm;
}

.currency_input {
  @apply text-white text-right hover:border-white/30 focus:border-white/40;
  @apply focus:outline-none w-full;
  @apply caret-transparent;
}

.last_update {
  @apply text-white-500 text-sm;
}

.copy_button {
  @apply cursor-pointer transition;

  &.is_copied {
    @apply text-emerald-600 hover:text-emerald-600;
  }

  &.is_not_copied {
    @apply text-white/20 hover:text-white-500;
  }
}